{% load static %}
{% load i18n %}


<!doctype html>
<html lang="fr">
  <head>
    <!-- <meta charset="utf-8"> -->
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>
      Titre de la page
    </title>

    <!-- Links -->
    <link href="{% static 'gStock/css/googleapis/roboto_familly.css' %}" rel="stylesheet">
    <link href="{% static 'gStock/css/mdi/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'gStock/css/vuetify/vuetify.min.css' %}" rel="stylesheet">
    <!-- End Links -->

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="../../static/gStock/css/style.css"> -->
    <link rel="stylesheet" href="{% static 'gStock/css/style.css' %}">
    <!-- End CSS -->

  </head>

  <body>
    ...
    <h1>Bienvenu sur la page gStock  b</h1>
    <!-- Le reste du contenu -->
    ...


    <!-- Script -->
    <!-- <script src="script.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vuex@2.x/dist/vuex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@2.x/dist/vue-router.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <!-- End Script -->
  </body>
</html>
